.card-actions {
	display: flex;
	justify-content: space-around;
	margin-top: -20px;
}

@media only screen and (max-width: 600px) {
	.MuiTextField-root {
		width: 100px;
	}
	.contact-form {
		width: 100%;
	}
}

@media only screen and (max-width: 850px) {
	.MuiTextField-root {
		width: 200px;
	}
	.contact-form {
		width: 65%;
	}
}

@media only screen and (min-width: 851px) {
	.MuiTextField-root {
		width: 400px;
	}
	.contact-form {
		width: 50%;
	}
}
